img{height:350px; width: 550px;
float:right;

}

h1{color:brown; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
text-align:center;}

p {color:rgb(0, 61, 0); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align:center; font-size:larger;}
